source https://nuget.org/api/v2

nuget FSharp.Core redirects: force
nuget FSharp.TypeProviders.StarterPack
nuget FsUnit 1.4.1
nuget GDAL.Native
nuget MathNet.Numerics.FSharp.Signed

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2